.App {
  text-align: left;
  font-size: calc(3px + 2vmin);
}

.App-header {
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.modal{
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}
.col-md-4 {
  border-radius: 8px;
  box-shadow: 0px 0px 8px #ccc;
  color: #253b56;
  margin: 12px 0px;
  width: 30%;
  padding: 3%;
  margin: 10px;
}

.container-row {
  flex-direction: row;
  display: flex;
  padding: 10px;
}